body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

textarea {
  width: 70%;
  height: 150px;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  white-space: pre-wrap;
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}